# Pandas fundamentals

#### Written for the QuantEcon Africa Workshop (July 2023)
#### Author: [Shu Hu](https://shu-hu.com/intro.html) and [Hengcheng Zhang](https://github.com/HengchengZhang)

In [ ]:
! pip install --upgrade pandas-datareader

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Given the dataframe below you are required to do the following exercises.

In [ ]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/QuantEcon/lecture-python-programming/master/source/_static/lecture_specific/pandas/data/test_pwt.csv')

In [ ]:
df

### Exercise 1 (View data)

### Exercise 1.1

Show the top 5 rows of the dataframe ``df``.

In [ ]:
df.head(5)

### Exercise 1.2

Show the bottom 5 rows of the dataframe ``df``.

In [ ]:
df.tail(5)

### Exercise 1.3

Show a quick statistic summary of the dataframe ``df``.

In [ ]:
df.info()

### Exercise 1.4

Transpose the dataframe ``df``.

In [ ]:
df.T

### Exercise 1.5

Sort the dataframe ``df`` by values in column ``tcgdp`` ascendingly.

In [ ]:
df.sort_values(by="tcgdp")

### Exercise 2 (Select data)

### Exercise 2.1

Select the column ``tcgdp`` from the dataframe ``df``, yielding a series.

In [ ]:
df["tcgdp"]

In [ ]:
# Alternative solution
df.tcgdp

### Exercise 2.2

Select the top 3 rows from the dataframe ``df``.

In [ ]:
df[0:3]

### Exercise 2.3


Get the first row of data across all the columns.

In [ ]:
# Use df.iloc for integer index
df.iloc[0]

### Exercise 2.4

Select all values on two columns ``country`` and ``POP``.

In [ ]:
df[["country", "POP"]]

You can also use the ``loc`` method which gives you access to locators for both column and row selection.

In [ ]:
df.loc[:, ["country", "POP"]]

### Exercise 2.5

Select values in rows 2-4 on two columns ``country`` and ``POP``.

In [ ]:
df.loc[2:4, ["country", "POP"]]

### Exercise 2.6

Get a scalar value for the 2nd row in the column ``POP`` which should be ``1006300.297``.

In [ ]:
df.loc[2, "POP"]

In [ ]:
# The .at property acts only on single value pairs for columns and rows, 
# while .loc can include ranges and more advanced filters
df.at[2, "POP"]

### Exercise 3 (Boolean indexing)

### Exercise 3.1 

Select data with column ``POP``'s values greater than ``30_000``.

In [ ]:
df[df['POP'] > 30_000]

### Exercise 3.2

We see

In [ ]:
df1 = df.copy()
df1

In [ ]:
df1["X"] = ["A", "B", "C", "D", "E", "F", "G","H"]

In [ ]:
df1

Filter rows containing ``A``, ``C``, ``G`` in column ``X`` using method [isin()](https://pandas.pydata.org/docs/reference/api/pandas.Series.isin.html#pandas.Series.isin).

In [ ]:
df1[df1["X"].isin(["A", "C", "G"])]

### Exercise 4

Let's consider the following dataframe ``df``.

In [ ]:
url = "https://datascience.quantecon.org/assets/data/bball.csv"
df = pd.read_csv(url)

In [ ]:
df

### Exercise 4.1 (Merge vs Group)

Given two dataframes ``df1`` and ``df2``, concatenate them together.

In [ ]:
df1 = df[0:3]
df2 = df[3:]

In [ ]:
dfs = [df1, df2]
pd.concat(dfs)

### Exercise 4.2 (Group)

Group the dataframe ``df`` by column ``Player`` and apply the ``sum()`` function to the resulting groups.

In [ ]:
df.groupby("Player").sum()

### Exercise 4.3 (Group)

Group the dataframe ``df`` by column ``Player`` and apply ``mean()`` function to the resulting groups.

In [ ]:
df.groupby("Player").mean()

### Exercise 5

Please read the following QuantEcon lecture before starting:
- https://python-programming.quantecon.org/pandas.html

From reading we know that we can use [pandas-datareader](https://pandas-datareader.readthedocs.io/en/latest/) to access online data.

In [ ]:
from pandas_datareader import wb

### Exercise 5.1

Use [wb.search()](https://pandas-datareader.readthedocs.io/en/latest/readers/world-bank.html?highlight=search#pandas_datareader.wb.search) method to find the Gross Domestic Products per capita in constant 2015 US$.

(Hint: use keywords, such as ``GDP`` or ``capita``.)

In [ ]:
matches = wb.search('gdp.*capita.*const.*2015')

In [ ]:
matches

The series ``id`` is ``NY.GDP.PCAP.KD``.

### Exercise 5.2
Using the id you obtained from Exercise 2.1 to acquire GDP per capita data 
- for countries US (``US``), Australia (``AU``) and India (``IN``)
- from year 2000 to 2022,

and store the data in a dataframe called ``dat``.

In [ ]:
dat = wb.download(indicator='NY.GDP.PCAP.KD', country=['US', 'AU', 'IN'], start=2000, end=2022)

In [ ]:
dat

### Exercise 5.3

Calculate the average GDP per capita for these three countries, respectively, over the period.

(HINT. Use ``.groupby`` from Exercise 1.)

In [ ]:
dat['NY.GDP.PCAP.KD'].groupby(level=0).mean()

### Exercise 5.4

Plot the GDP per capita from 2000 to 2022 as time series for the three countries.

In [ ]:
dat_n = dat.reset_index()
dat_n = dat_n.sort_values(by="year", ascending=True)

In [ ]:
dat_n

In [ ]:
fig, ax = plt.subplots(figsize=(12, 6))

countries = ["Australia", "United States", "India"]
year = "year"
ID = "NY.GDP.PCAP.KD"

for i in range(len(countries)):
    ax.plot(year, ID, data=dat_n[dat_n["country"] == countries[i]], label=countries[i])


plt.legend()
plt.show()

## Exercise 6 (Climate change vs GDP growth)

Next let's compare GDP per capita to the share of Droughts, floods, extreme temperatures around the world.

### Exercise 6.1

Use [wb.search()](https://pandas-datareader.readthedocs.io/en/latest/readers/world-bank.html?highlight=search#pandas_datareader.wb.search) method to find the share of Droughts, floods, extreme temperatures.

In [ ]:
d = wb.search('temperature.*%')
d

In [ ]:
d.iloc[:, 4]

### Exercise 6.2 

Acquire the GDP per capita and the share of extreme weather for **ALL** available countries in year 2009 using ``id``s from Exercises 5.1 and 6.1.

Store the acquired data in a dataframe called ``df`` and name the columns by ``gdp`` and ``eweather``, respectively.

Here a higher value in the column ``eweather`` means that the corresponding country experienced more extreme weather situations.

In [ ]:
ind = ['NY.GDP.PCAP.KD', 'EN.CLC.MDAT.ZS']
df = wb.download(indicator=ind, country='all', start=2009, end=2009).dropna()

In [ ]:
df.columns = ['gdp', 'eweather']

In [ ]:
df

### Exercise 6.3 

Use the [statsmodels](https://www.statsmodels.org/stable/regression.html) package to assess the relation between ``gdp`` and ``eweather`` using ordinary least squares regression.

In [ ]:
import statsmodels.formula.api as sm

In [ ]:
wog = sm.ols('eweather ~ np.log(gdp)', df).fit()

In [ ]:
print(wog.summary())